.artifact-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
}

.narrow .gi-artifacts-pool-container .artifact-list {
    min-height: 200px;
}

.artifact-list-box {
    min-width: 158px;
    max-width: 200px;
    height: 100px;
    border: solid 2px #626770;
    position: relative;
    border-radius: 15px;
    margin: 2px;
    box-sizing: border-box;
    background: rgba(30, 30, 30, 0.5);
}

.artifact-list-box .line {
    display: flex;
    align-items: center;
}

.artifact-list-box .main {
    flex-grow: 1;
    margin-right: 7px;
}

.artifact-list-box .main-stat {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    color: #BEAEA9;
}

.artifact-list-box .main-value {
    color: #FFF7E9;
    margin-right: 5px;
}

.artifact-list-box .substat {
    width: 50%;
    overflow: hidden;
    font-size: 12px;
    float: left;
    padding: 0 4px;
    box-sizing: border-box;
}

.artifact-list-box .stat {
    color: #BEAEA9;
    margin-right: 3px;
}

.artifact-list-box .value {
    color: #FFF7E9;
}

.artifact-list-box .highlight .main-value, .artifact-list-box .highlight .value {
    color: #34AF00;
}

.artifact-list-box.equipped {
    background-color: #3e5842AA;
}

.artifact-list-box.locked {
    background-color: #734949AA;
}

.artifact-list-box.hidden {
    display: none;
}

.artifact-list-box .buttons {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.artifact-list-box .button {
    border: solid 1px #ECE5D8;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(40, 28, 15, 0.7);
    cursor: pointer;
    margin: 2px 4px;

    background-image: url("../../images/icons/editart.png");
    background-repeat: no-repeat;
}

.artifact-list-box .button.edit {
    background-position: 0 0;
}
.artifact-list-box .button.delete {
    background-position: -20px 0;
}
.artifact-list-box .button.locked {
    background-position: 0 -20px;
}
.artifact-list-box .button.unlocked {
    background-position: -20px -20px;
}

.artifact-list-box .invalid {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: 2px;
    background-image: url("../../images/icons/warning.png");
    background-repeat: no-repeat;
    z-index: 10;
}

.artifact-list-box .equipped {
    position: absolute;
    top: 28px;
    left: 28px;
    filter: drop-shadow(0px 0px 3px #000);
    z-index: 3;
}

.artifact-list-box .equipped.char-2 {
    left: 12px;
    z-index: 2;
}

.artifact-list-box .equipped.char-3 {
    left: -4px;
    z-index: 1;
}
