.beta-warning {
    border: solid 2px #ff5d4e;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(30, 30, 30, 0.5);

    font-size: 14px;
    line-height: 18px;
    color: #BEAEA9;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-remark {
    border: solid 2px #626770;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(30, 30, 30, 0.5);

    font-size: 14px;
    line-height: 18px;
    color: #BEAEA9;
    text-align: center;
}

.beta-warning > span {
    margin: 0 2px;
}
