.sprite-artifact.circlet.sprite-24 {
	background-image: url("../../images/sprites/artifacts_a3f0f1cce0a0ded9671a0310b34e23e0.png");
	background-size: 144px 264px;
}
.sprite-artifact.circlet.sprite-40 {
	background-image: url("../../images/sprites/artifacts_6fb96339fb2de11e1c1f6deaf232d5dd.png");
	background-size: 240px 440px;
}
.sprite-artifact.circlet.sprite-60 {
	background-image: url("../../images/sprites/artifacts_8f8e68da1fdc8f90ca6d380e188ed546.png");
	background-size: 360px 660px;
}
.sprite.artifact-icon-unknown {background-position: 0 0}
.sprite.artifact-icon-resolution-of-sojourner.circlet {background-position: 20% 0}
.sprite.artifact-icon-brave-heart.circlet {background-position: 40% 0}
.sprite.artifact-icon-defenders-will.circlet {background-position: 60% 0}
.sprite.artifact-icon-tiny-miracle.circlet {background-position: 80% 0}
.sprite.artifact-icon-berserker.circlet {background-position: 100% 0}
.sprite.artifact-icon-martial-artist.circlet {background-position: 0 10%}
.sprite.artifact-icon-instructor.circlet {background-position: 20% 10%}
.sprite.artifact-icon-gambler.circlet {background-position: 40% 10%}
.sprite.artifact-icon-the-exile.circlet {background-position: 60% 10%}
.sprite.artifact-icon-adventurer.circlet {background-position: 80% 10%}
.sprite.artifact-icon-lucky-dog.circlet {background-position: 100% 10%}
.sprite.artifact-icon-scholar.circlet {background-position: 0 20%}
.sprite.artifact-icon-traveling-doctor.circlet {background-position: 20% 20%}
.sprite.artifact-icon-blizzard-strayer.circlet {background-position: 40% 20%}
.sprite.artifact-icon-thundersoother.circlet {background-position: 60% 20%}
.sprite.artifact-icon-lavawalker.circlet {background-position: 80% 20%}
.sprite.artifact-icon-maiden-beloved.circlet {background-position: 100% 20%}
.sprite.artifact-icon-gladiators-finale.circlet {background-position: 0 30%}
.sprite.artifact-icon-viridescent-venerer.circlet {background-position: 20% 30%}
.sprite.artifact-icon-wanderers-troupe.circlet {background-position: 40% 30%}
.sprite.artifact-icon-thundering-fury.circlet {background-position: 60% 30%}
.sprite.artifact-icon-crimson-witch-of-flames.circlet {background-position: 80% 30%}
.sprite.artifact-icon-noblesse-oblige.circlet {background-position: 100% 30%}
.sprite.artifact-icon-bloodstained-chivalry.circlet {background-position: 0 40%}
.sprite.artifact-icon-prayers-for-illumination.circlet {background-position: 20% 40%}
.sprite.artifact-icon-prayers-for-destiny.circlet {background-position: 40% 40%}
.sprite.artifact-icon-prayers-for-wisdom.circlet {background-position: 60% 40%}
.sprite.artifact-icon-prayers-to-springtime.circlet {background-position: 80% 40%}
.sprite.artifact-icon-archaic-petra.circlet {background-position: 100% 40%}
.sprite.artifact-icon-retracing-bolide.circlet {background-position: 0 50%}
.sprite.artifact-icon-heart-of-depth.circlet {background-position: 20% 50%}
.sprite.artifact-icon-tenacity-of-the-millelith.circlet {background-position: 40% 50%}
.sprite.artifact-icon-pale-flame.circlet {background-position: 60% 50%}
.sprite.artifact-icon-shimenawas-reminiscence.circlet {background-position: 80% 50%}
.sprite.artifact-icon-emblem-of-severed-fate.circlet {background-position: 100% 50%}
.sprite.artifact-icon-husk-of-opulent-dreams.circlet {background-position: 0 60%}
.sprite.artifact-icon-ocean-hued-clam.circlet {background-position: 20% 60%}
.sprite.artifact-icon-vermillion-hereafter.circlet {background-position: 40% 60%}
.sprite.artifact-icon-echoes-of-an-offering.circlet {background-position: 60% 60%}
.sprite.artifact-icon-deepwood-memories.circlet {background-position: 80% 60%}
.sprite.artifact-icon-gilded-dreams.circlet {background-position: 100% 60%}
.sprite.artifact-icon-desert-pavilion-chronicle.circlet {background-position: 0 70%}
.sprite.artifact-icon-flower-of-paradise-lost.circlet {background-position: 20% 70%}
.sprite.artifact-icon-nymphs-dream.circlet {background-position: 40% 70%}
.sprite.artifact-icon-vourukashas-glow.circlet {background-position: 60% 70%}
.sprite.artifact-icon-marechaussee-hunter.circlet {background-position: 80% 70%}
.sprite.artifact-icon-golden-troupe.circlet {background-position: 100% 70%}
.sprite.artifact-icon-song-of-days-past.circlet {background-position: 0 80%}
.sprite.artifact-icon-nighttime-whispers-in-the-echoing-woods.circlet {background-position: 20% 80%}
.sprite.artifact-icon-fragment-of-harmonic-whimsy.circlet {background-position: 40% 80%}
.sprite.artifact-icon-unfinished-reverie.circlet {background-position: 60% 80%}
.sprite.artifact-icon-scroll-of-the-hero-of-cinder-city.circlet {background-position: 80% 80%}
.sprite.artifact-icon-obsidian-codex.circlet {background-position: 100% 80%}
.sprite.artifact-icon-long-nights-oath.circlet {background-position: 0 90%}
.sprite.artifact-icon-finale-of-the-deep-galleries.circlet {background-position: 20% 90%}
.sprite.artifact-icon-night-of-the-skys-unveiling.circlet {background-position: 40% 90%}
.sprite.artifact-icon-silken-moons-serenade.circlet {background-position: 60% 90%}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.sprite-artifact.circlet.sprite-24 {background-image: url("../../images/sprites/artifacts_99704320ef32fa31615671b8b3d72da3.png")}
	.sprite-artifact.circlet.sprite-40 {background-image: url("../../images/sprites/artifacts_d3ef9163215527dd0cd4916f30a34692.png")}
	.sprite-artifact.circlet.sprite-60 {background-image: url("../../images/sprites/artifacts_13361e7541651d728436f882035553b2.png")}
}
