.type-magical.enemy-icon-cicin-ice-01 {background-image: url("../../images/enemies/magical/cicin_ice_01.png")}
.type-magical.enemy-icon-cicin-thunder-01 {background-image: url("../../images/enemies/magical/cicin_thunder_01.png")}
.type-magical.enemy-icon-cicin-water-01 {background-image: url("../../images/enemies/magical/cicin_water_01.png")}
.type-magical.enemy-icon-drake-deepsea-electric {background-image: url("../../images/enemies/magical/drake_deepsea_electric.png")}
.type-magical.enemy-icon-drake-deepsea-ice {background-image: url("../../images/enemies/magical/drake_deepsea_ice.png")}
.type-magical.enemy-icon-drake-deepsea-twinbossfight {background-image: url("../../images/enemies/magical/drake_deepsea_twinbossfight.png")}
.type-magical.enemy-icon-drake-deepsea-water {background-image: url("../../images/enemies/magical/drake_deepsea_water.png")}
.type-magical.enemy-icon-drake-primo-rock {background-image: url("../../images/enemies/magical/drake_primo_rock.png")}
.type-magical.enemy-icon-drake-rock {background-image: url("../../images/enemies/magical/drake_rock.png")}
.type-magical.enemy-icon-mimik-electric {background-image: url("../../images/enemies/magical/mimik_electric.png")}
.type-magical.enemy-icon-mimik-fire {background-image: url("../../images/enemies/magical/mimik_fire.png")}
.type-magical.enemy-icon-mimik-ice {background-image: url("../../images/enemies/magical/mimik_ice.png")}
.type-magical.enemy-icon-regisvine-fire {background-image: url("../../images/enemies/magical/regisvine_fire.png")}
.type-magical.enemy-icon-regisvine-ice {background-image: url("../../images/enemies/magical/regisvine_ice.png")}
.type-magical.enemy-icon-wyrm-rock {background-image: url("../../images/enemies/magical/wyrm_rock.png")}
.type-magical.enemy-icon-boar-03 {background-image: url("../../images/enemies/magical/boar_03.png")}
.type-magical.enemy-icon-fungus-un-gamma-water {background-image: url("../../images/enemies/magical/fungus_un_gamma_water.png")}
.type-magical.enemy-icon-floating-dendro-fungus {background-image: url("../../images/enemies/magical/floating dendro fungus.png")}
.type-magical.enemy-icon-grounded-hydroshroom {background-image: url("../../images/enemies/magical/grounded hydroshroom.png")}
.type-magical.enemy-icon-jadeplume-terrorshroom {background-image: url("../../images/enemies/magical/jadeplume terrorshroom.png")}
.type-magical.enemy-icon-stretchy-anemo-fungus {background-image: url("../../images/enemies/magical/stretchy anemo fungus.png")}
.type-magical.enemy-icon-stretchy-geo-fungus {background-image: url("../../images/enemies/magical/stretchy geo fungus.png")}
.type-magical.enemy-icon-stretchy-pyro-fungus {background-image: url("../../images/enemies/magical/stretchy pyro fungus.png")}
.type-magical.enemy-icon-whirling-cryo-fungus {background-image: url("../../images/enemies/magical/whirling cryo fungus.png")}
.type-magical.enemy-icon-whirling-electro-fungus {background-image: url("../../images/enemies/magical/whirling electro fungus.png")}
.type-magical.enemy-icon-winged-cryoshroom {background-image: url("../../images/enemies/magical/winged cryoshroom.png")}
.type-magical.enemy-icon-winged-dendroshroom {background-image: url("../../images/enemies/magical/winged dendroshroom.png")}
.type-magical.enemy-icon-electro-regisvine {background-image: url("../../images/enemies/magical/electro regisvine.png")}
.type-magical.enemy-icon-fungus-un-delta-wind {background-image: url("../../images/enemies/magical/fungus_un_delta_wind.png")}
.type-magical.enemy-icon-fungus-trois-gamma-fire {background-image: url("../../images/enemies/magical/fungus_trois_gamma_fire.png")}
.type-magical.enemy-icon-fungus-deux-delta-electric {background-image: url("../../images/enemies/magical/fungus_deux_delta_electric.png")}
.type-magical.enemy-icon-fungus-amanita-du-udatta-rock {background-image: url("../../images/enemies/magical/fungus_amanita_du_udatta_rock.png")}
.type-magical.enemy-icon-vulture-sacred-fire {background-image: url("../../images/enemies/magical/vulture_sacred_fire.png")}
.type-magical.enemy-icon-sandworm {background-image: url("../../images/enemies/magical/sandworm.png")}
.type-magical.enemy-icon-chrysopelea-sacred-wind {background-image: url("../../images/enemies/magical/chrysopelea_sacred_wind.png")}
.type-magical.enemy-icon-scorpion-sacred-electric {background-image: url("../../images/enemies/magical/scorpion_sacred_electric.png")}
.type-magical.enemy-icon-gator-sacred-water {background-image: url("../../images/enemies/magical/gator_sacred_water.png")}
.type-magical.enemy-icon-panther-sacred-grass {background-image: url("../../images/enemies/magical/panther_sacred_grass.png")}
.type-magical.enemy-icon-seahorse-mature {background-image: url("../../images/enemies/magical/seahorse_mature.png")}
.type-magical.enemy-icon-aplysia-mature {background-image: url("../../images/enemies/magical/aplysia_mature.png")}
.type-magical.enemy-icon-hermitcrab-mature {background-image: url("../../images/enemies/magical/hermitcrab_mature.png")}
.type-magical.enemy-icon-aplysia-larva-02 {background-image: url("../../images/enemies/magical/aplysia_larva_02.png")}
.type-magical.enemy-icon-aplysia-larva-01 {background-image: url("../../images/enemies/magical/aplysia_larva_01.png")}
.type-magical.enemy-icon-octopus-larva-02 {background-image: url("../../images/enemies/magical/octopus_larva_02.png")}
.type-magical.enemy-icon-octopus-larva-01 {background-image: url("../../images/enemies/magical/octopus_larva_01.png")}
.type-magical.enemy-icon-seahorse-larva-03 {background-image: url("../../images/enemies/magical/seahorse_larva_03.png")}
.type-magical.enemy-icon-seahorse-larva-02 {background-image: url("../../images/enemies/magical/seahorse_larva_02.png")}
.type-magical.enemy-icon-seahorse-larva-01 {background-image: url("../../images/enemies/magical/seahorse_larva_01.png")}
.type-magical.enemy-icon-jellyfish-larva-02 {background-image: url("../../images/enemies/magical/jellyfish_larva_02.png")}
.type-magical.enemy-icon-jellyfish-larva-01 {background-image: url("../../images/enemies/magical/jellyfish_larva_01.png")}
.type-magical.enemy-icon-seal-larva-01 {background-image: url("../../images/enemies/magical/seal_larva_01.png")}
.type-magical.enemy-icon-hermitcrab-larva-02 {background-image: url("../../images/enemies/magical/hermitcrab_larva_02.png")}
.type-magical.enemy-icon-hermitcrab-larva-01 {background-image: url("../../images/enemies/magical/hermitcrab_larva_01.png")}
.type-magical.enemy-icon-mantaray-larva-02 {background-image: url("../../images/enemies/magical/mantaray_larva_02.png")}
.type-magical.enemy-icon-mantaray-larva-01 {background-image: url("../../images/enemies/magical/mantaray_larva_01.png")}
.type-magical.enemy-icon-hermitcrab-primo {background-image: url("../../images/enemies/magical/hermitcrab_primo.png")}
.type-magical.enemy-icon-natsaurus-hookwalker-small {background-image: url("../../images/enemies/magical/natsaurus_hookwalker_small.png")}
.type-magical.enemy-icon-natsaurus-mosasaurus-small {background-image: url("../../images/enemies/magical/natsaurus_mosasaurus_small.png")}
.type-magical.enemy-icon-natsaurus-drillhead-small {background-image: url("../../images/enemies/magical/natsaurus_drillhead_small.png")}
.type-magical.enemy-icon-seahorse-primo-electric {background-image: url("../../images/enemies/magical/seahorse_primo_electric.png")}
.type-magical.enemy-icon-striped {background-image: url("../../images/enemies/magical/striped.png")}
.type-magical.enemy-icon-hermit {background-image: url("../../images/enemies/magical/hermit.png")}
.type-magical.enemy-icon-golem-centaur {background-image: url("../../images/enemies/magical/golem_centaur.png")}
.type-magical.enemy-icon-golem-legion {background-image: url("../../images/enemies/magical/golem_legion.png")}
.type-magical.enemy-icon-natsaurus-hookwalker-primo {background-image: url("../../images/enemies/magical/natsaurus_hookwalker_primo.png")}
.type-magical.enemy-icon-natsaurus-hookwalker-normal {background-image: url("../../images/enemies/magical/natsaurus_hookwalker_normal.png")}
.type-magical.enemy-icon-natsaurus-mosasaurus-normal {background-image: url("../../images/enemies/magical/natsaurus_mosasaurus_normal.png")}
.type-magical.enemy-icon-natsaurus-drillhead-normal {background-image: url("../../images/enemies/magical/natsaurus_drillhead_normal.png")}
.type-magical.enemy-icon-lava-solid {background-image: url("../../images/enemies/magical/lava_solid.png")}
.type-magical.enemy-icon-lava-liquid {background-image: url("../../images/enemies/magical/lava_liquid.png")}
.type-magical.enemy-icon-wayob-hookwalker {background-image: url("../../images/enemies/magical/wayob_hookwalker.png")}
.type-magical.enemy-icon-wayob-mosasaurus {background-image: url("../../images/enemies/magical/wayob_mosasaurus.png")}
.type-magical.enemy-icon-wayob-drillhead {background-image: url("../../images/enemies/magical/wayob_drillhead.png")}
.type-magical.enemy-icon-natsaurus-flamingo-primo {background-image: url("../../images/enemies/magical/natsaurus_flamingo_primo.png")}
.type-magical.enemy-icon-wayob-flamingo {background-image: url("../../images/enemies/magical/wayob_flamingo.png")}
.type-magical.enemy-icon-wayob-shamansaurus {background-image: url("../../images/enemies/magical/wayob_shamansaurus.png")}
.type-magical.enemy-icon-natsaurus-shamansaurus-normal {background-image: url("../../images/enemies/magical/natsaurus_shamansaurus_normal.png")}
.type-magical.enemy-icon-natsaurus-shamansaurus-small {background-image: url("../../images/enemies/magical/natsaurus_shamansaurus_small.png")}
.type-magical.enemy-icon-natsaurus-flamingo-normal {background-image: url("../../images/enemies/magical/natsaurus_flamingo_normal.png")}
.type-magical.enemy-icon-natsaurus-flamingo-small {background-image: url("../../images/enemies/magical/natsaurus_flamingo_small.png")}
.type-magical.enemy-icon-natsaurus-bisonsaurus-small {background-image: url("../../images/enemies/magical/natsaurus_bisonsaurus_small.png")}
.type-magical.enemy-icon-natsaurus-bisonsaurus-normal {background-image: url("../../images/enemies/magical/natsaurus_bisonsaurus_normal.png")}
.type-magical.enemy-icon-wayob-bisonsaurus {background-image: url("../../images/enemies/magical/wayob_bisonsaurus.png")}
.type-magical.enemy-icon-lavatitan {background-image: url("../../images/enemies/magical/lavatitan.png")}
.type-magical.enemy-icon-volcanoweasel {background-image: url("../../images/enemies/magical/volcanoweasel.png")}
.type-magical.sprite-enemy.sprite-24 {
	background-image: url("../../images/sprites/enemy_magical_df139dd2723e3d8b53cb56261ff267f2.png");
	background-size: 120px 504px;
}
.type-magical.sprite-enemy.sprite-60 {
	background-image: url("../../images/sprites/enemy_magical_cd83bc9c0f17480f06dd439986dfbaad.png");
	background-size: 300px 1260px;
}
.sprite.type-magical.enemy-icon-cicin-ice-01 {background-position: 0 0
}
.sprite.type-magical.enemy-icon-cicin-thunder-01 {background-position: 25% 0
}
.sprite.type-magical.enemy-icon-cicin-water-01 {background-position: 50% 0
}
.sprite.type-magical.enemy-icon-drake-deepsea-electric {background-position: 75% 0
}
.sprite.type-magical.enemy-icon-drake-deepsea-ice {background-position: 100% 0
}
.sprite.type-magical.enemy-icon-drake-deepsea-twinbossfight {background-position: 0 5%}
.sprite.type-magical.enemy-icon-drake-deepsea-water {background-position: 25% 5%}
.sprite.type-magical.enemy-icon-drake-primo-rock {background-position: 50% 5%}
.sprite.type-magical.enemy-icon-drake-rock {background-position: 75% 5%}
.sprite.type-magical.enemy-icon-mimik-electric {background-position: 100% 5%}
.sprite.type-magical.enemy-icon-mimik-fire {background-position: 0 10%}
.sprite.type-magical.enemy-icon-mimik-ice {background-position: 25% 10%}
.sprite.type-magical.enemy-icon-regisvine-fire {background-position: 50% 10%}
.sprite.type-magical.enemy-icon-regisvine-ice {background-position: 75% 10%}
.sprite.type-magical.enemy-icon-wyrm-rock {background-position: 100% 10%}
.sprite.type-magical.enemy-icon-boar-03 {background-position: 0 15%}
.sprite.type-magical.enemy-icon-fungus-un-gamma-water {background-position: 25% 15%}
.sprite.type-magical.enemy-icon-floating-dendro-fungus {background-position: 50% 15%}
.sprite.type-magical.enemy-icon-grounded-hydroshroom {background-position: 75% 15%}
.sprite.type-magical.enemy-icon-jadeplume-terrorshroom {background-position: 100% 15%}
.sprite.type-magical.enemy-icon-stretchy-anemo-fungus {background-position: 0 20%}
.sprite.type-magical.enemy-icon-stretchy-geo-fungus {background-position: 25% 20%}
.sprite.type-magical.enemy-icon-stretchy-pyro-fungus {background-position: 50% 20%}
.sprite.type-magical.enemy-icon-whirling-cryo-fungus {background-position: 75% 20%}
.sprite.type-magical.enemy-icon-whirling-electro-fungus {background-position: 100% 20%}
.sprite.type-magical.enemy-icon-winged-cryoshroom {background-position: 0 25%}
.sprite.type-magical.enemy-icon-winged-dendroshroom {background-position: 25% 25%}
.sprite.type-magical.enemy-icon-electro-regisvine {background-position: 50% 25%}
.sprite.type-magical.enemy-icon-fungus-un-delta-wind {background-position: 75% 25%}
.sprite.type-magical.enemy-icon-fungus-trois-gamma-fire {background-position: 100% 25%}
.sprite.type-magical.enemy-icon-fungus-deux-delta-electric {background-position: 0 30%}
.sprite.type-magical.enemy-icon-fungus-amanita-du-udatta-rock {background-position: 25% 30%}
.sprite.type-magical.enemy-icon-vulture-sacred-fire {background-position: 50% 30%}
.sprite.type-magical.enemy-icon-sandworm {background-position: 75% 30%}
.sprite.type-magical.enemy-icon-chrysopelea-sacred-wind {background-position: 100% 30%}
.sprite.type-magical.enemy-icon-scorpion-sacred-electric {background-position: 0 35%}
.sprite.type-magical.enemy-icon-gator-sacred-water {background-position: 25% 35%}
.sprite.type-magical.enemy-icon-panther-sacred-grass {background-position: 50% 35%}
.sprite.type-magical.enemy-icon-seahorse-mature {background-position: 75% 35%}
.sprite.type-magical.enemy-icon-aplysia-mature {background-position: 100% 35%}
.sprite.type-magical.enemy-icon-hermitcrab-mature {background-position: 0 40%}
.sprite.type-magical.enemy-icon-aplysia-larva-02 {background-position: 25% 40%}
.sprite.type-magical.enemy-icon-aplysia-larva-01 {background-position: 50% 40%}
.sprite.type-magical.enemy-icon-octopus-larva-02 {background-position: 75% 40%}
.sprite.type-magical.enemy-icon-octopus-larva-01 {background-position: 100% 40%}
.sprite.type-magical.enemy-icon-seahorse-larva-03 {background-position: 0 45%}
.sprite.type-magical.enemy-icon-seahorse-larva-02 {background-position: 25% 45%}
.sprite.type-magical.enemy-icon-seahorse-larva-01 {background-position: 50% 45%}
.sprite.type-magical.enemy-icon-jellyfish-larva-02 {background-position: 75% 45%}
.sprite.type-magical.enemy-icon-jellyfish-larva-01 {background-position: 100% 45%}
.sprite.type-magical.enemy-icon-seal-larva-01 {background-position: 0 50%}
.sprite.type-magical.enemy-icon-hermitcrab-larva-02 {background-position: 25% 50%}
.sprite.type-magical.enemy-icon-hermitcrab-larva-01 {background-position: 50% 50%}
.sprite.type-magical.enemy-icon-mantaray-larva-02 {background-position: 75% 50%}
.sprite.type-magical.enemy-icon-mantaray-larva-01 {background-position: 100% 50%}
.sprite.type-magical.enemy-icon-hermitcrab-primo {background-position: 0 55%}
.sprite.type-magical.enemy-icon-natsaurus-hookwalker-small {background-position: 25% 55%}
.sprite.type-magical.enemy-icon-natsaurus-mosasaurus-small {background-position: 50% 55%}
.sprite.type-magical.enemy-icon-natsaurus-drillhead-small {background-position: 75% 55%}
.sprite.type-magical.enemy-icon-seahorse-primo-electric {background-position: 100% 55%}
.sprite.type-magical.enemy-icon-striped {background-position: 0 60%}
.sprite.type-magical.enemy-icon-hermit {background-position: 25% 60%}
.sprite.type-magical.enemy-icon-golem-centaur {background-position: 50% 60%}
.sprite.type-magical.enemy-icon-golem-legion {background-position: 75% 60%}
.sprite.type-magical.enemy-icon-natsaurus-hookwalker-primo {background-position: 100% 60%}
.sprite.type-magical.enemy-icon-natsaurus-hookwalker-normal {background-position: 0 65%}
.sprite.type-magical.enemy-icon-natsaurus-mosasaurus-normal {background-position: 25% 65%}
.sprite.type-magical.enemy-icon-natsaurus-drillhead-normal {background-position: 50% 65%}
.sprite.type-magical.enemy-icon-lava-solid {background-position: 75% 65%}
.sprite.type-magical.enemy-icon-lava-liquid {background-position: 100% 65%}
.sprite.type-magical.enemy-icon-wayob-hookwalker {background-position: 0 70%}
.sprite.type-magical.enemy-icon-wayob-mosasaurus {background-position: 25% 70%}
.sprite.type-magical.enemy-icon-wayob-drillhead {background-position: 50% 70%}
.sprite.type-magical.enemy-icon-natsaurus-flamingo-primo {background-position: 75% 70%}
.sprite.type-magical.enemy-icon-wayob-flamingo {background-position: 100% 70%}
.sprite.type-magical.enemy-icon-wayob-shamansaurus {background-position: 0 75%}
.sprite.type-magical.enemy-icon-natsaurus-shamansaurus-normal {background-position: 25% 75%}
.sprite.type-magical.enemy-icon-natsaurus-shamansaurus-small {background-position: 50% 75%}
.sprite.type-magical.enemy-icon-natsaurus-flamingo-normal {background-position: 75% 75%}
.sprite.type-magical.enemy-icon-natsaurus-flamingo-small {background-position: 100% 75%}
.sprite.type-magical.enemy-icon-natsaurus-bisonsaurus-small {background-position: 0 80%}
.sprite.type-magical.enemy-icon-natsaurus-bisonsaurus-normal {background-position: 25% 80%}
.sprite.type-magical.enemy-icon-wayob-bisonsaurus {background-position: 50% 80%}
.sprite.type-magical.enemy-icon-lavatitan {background-position: 75% 80%}
.sprite.type-magical.enemy-icon-volcanoweasel {background-position: 100% 80%}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.type-magical.enemy-icon-cicin-ice-01 {background-image: url("../../images/enemies/magical/cicin_ice_01_2x.png")}
	.type-magical.enemy-icon-cicin-thunder-01 {background-image: url("../../images/enemies/magical/cicin_thunder_01_2x.png")}
	.type-magical.enemy-icon-cicin-water-01 {background-image: url("../../images/enemies/magical/cicin_water_01_2x.png")}
	.type-magical.enemy-icon-drake-deepsea-electric {background-image: url("../../images/enemies/magical/drake_deepsea_electric_2x.png")}
	.type-magical.enemy-icon-drake-deepsea-ice {background-image: url("../../images/enemies/magical/drake_deepsea_ice_2x.png")}
	.type-magical.enemy-icon-drake-deepsea-twinbossfight {background-image: url("../../images/enemies/magical/drake_deepsea_twinbossfight_2x.png")}
	.type-magical.enemy-icon-drake-deepsea-water {background-image: url("../../images/enemies/magical/drake_deepsea_water_2x.png")}
	.type-magical.enemy-icon-drake-primo-rock {background-image: url("../../images/enemies/magical/drake_primo_rock_2x.png")}
	.type-magical.enemy-icon-drake-rock {background-image: url("../../images/enemies/magical/drake_rock_2x.png")}
	.type-magical.enemy-icon-mimik-electric {background-image: url("../../images/enemies/magical/mimik_electric_2x.png")}
	.type-magical.enemy-icon-mimik-fire {background-image: url("../../images/enemies/magical/mimik_fire_2x.png")}
	.type-magical.enemy-icon-mimik-ice {background-image: url("../../images/enemies/magical/mimik_ice_2x.png")}
	.type-magical.enemy-icon-regisvine-fire {background-image: url("../../images/enemies/magical/regisvine_fire_2x.png")}
	.type-magical.enemy-icon-regisvine-ice {background-image: url("../../images/enemies/magical/regisvine_ice_2x.png")}
	.type-magical.enemy-icon-wyrm-rock {background-image: url("../../images/enemies/magical/wyrm_rock_2x.png")}
	.type-magical.enemy-icon-boar-03 {background-image: url("../../images/enemies/magical/boar_03_2x.png")}
	.type-magical.enemy-icon-fungus-un-gamma-water {background-image: url("../../images/enemies/magical/fungus_un_gamma_water_2x.png")}
	.type-magical.enemy-icon-floating-dendro-fungus {background-image: url("../../images/enemies/magical/floating dendro fungus_2x.png")}
	.type-magical.enemy-icon-grounded-hydroshroom {background-image: url("../../images/enemies/magical/grounded hydroshroom_2x.png")}
	.type-magical.enemy-icon-jadeplume-terrorshroom {background-image: url("../../images/enemies/magical/jadeplume terrorshroom_2x.png")}
	.type-magical.enemy-icon-stretchy-anemo-fungus {background-image: url("../../images/enemies/magical/stretchy anemo fungus_2x.png")}
	.type-magical.enemy-icon-stretchy-geo-fungus {background-image: url("../../images/enemies/magical/stretchy geo fungus_2x.png")}
	.type-magical.enemy-icon-stretchy-pyro-fungus {background-image: url("../../images/enemies/magical/stretchy pyro fungus_2x.png")}
	.type-magical.enemy-icon-whirling-cryo-fungus {background-image: url("../../images/enemies/magical/whirling cryo fungus_2x.png")}
	.type-magical.enemy-icon-whirling-electro-fungus {background-image: url("../../images/enemies/magical/whirling electro fungus_2x.png")}
	.type-magical.enemy-icon-winged-cryoshroom {background-image: url("../../images/enemies/magical/winged cryoshroom_2x.png")}
	.type-magical.enemy-icon-winged-dendroshroom {background-image: url("../../images/enemies/magical/winged dendroshroom_2x.png")}
	.type-magical.enemy-icon-electro-regisvine {background-image: url("../../images/enemies/magical/electro regisvine_2x.png")}
	.type-magical.enemy-icon-fungus-un-delta-wind {background-image: url("../../images/enemies/magical/fungus_un_delta_wind_2x.png")}
	.type-magical.enemy-icon-fungus-trois-gamma-fire {background-image: url("../../images/enemies/magical/fungus_trois_gamma_fire_2x.png")}
	.type-magical.enemy-icon-fungus-deux-delta-electric {background-image: url("../../images/enemies/magical/fungus_deux_delta_electric_2x.png")}
	.type-magical.enemy-icon-fungus-amanita-du-udatta-rock {background-image: url("../../images/enemies/magical/fungus_amanita_du_udatta_rock_2x.png")}
	.type-magical.enemy-icon-vulture-sacred-fire {background-image: url("../../images/enemies/magical/vulture_sacred_fire_2x.png")}
	.type-magical.enemy-icon-sandworm {background-image: url("../../images/enemies/magical/sandworm_2x.png")}
	.type-magical.enemy-icon-chrysopelea-sacred-wind {background-image: url("../../images/enemies/magical/chrysopelea_sacred_wind_2x.png")}
	.type-magical.enemy-icon-scorpion-sacred-electric {background-image: url("../../images/enemies/magical/scorpion_sacred_electric_2x.png")}
	.type-magical.enemy-icon-gator-sacred-water {background-image: url("../../images/enemies/magical/gator_sacred_water_2x.png")}
	.type-magical.enemy-icon-panther-sacred-grass {background-image: url("../../images/enemies/magical/panther_sacred_grass_2x.png")}
	.type-magical.enemy-icon-seahorse-mature {background-image: url("../../images/enemies/magical/seahorse_mature_2x.png")}
	.type-magical.enemy-icon-aplysia-mature {background-image: url("../../images/enemies/magical/aplysia_mature_2x.png")}
	.type-magical.enemy-icon-hermitcrab-mature {background-image: url("../../images/enemies/magical/hermitcrab_mature_2x.png")}
	.type-magical.enemy-icon-aplysia-larva-02 {background-image: url("../../images/enemies/magical/aplysia_larva_02_2x.png")}
	.type-magical.enemy-icon-aplysia-larva-01 {background-image: url("../../images/enemies/magical/aplysia_larva_01_2x.png")}
	.type-magical.enemy-icon-octopus-larva-02 {background-image: url("../../images/enemies/magical/octopus_larva_02_2x.png")}
	.type-magical.enemy-icon-octopus-larva-01 {background-image: url("../../images/enemies/magical/octopus_larva_01_2x.png")}
	.type-magical.enemy-icon-seahorse-larva-03 {background-image: url("../../images/enemies/magical/seahorse_larva_03_2x.png")}
	.type-magical.enemy-icon-seahorse-larva-02 {background-image: url("../../images/enemies/magical/seahorse_larva_02_2x.png")}
	.type-magical.enemy-icon-seahorse-larva-01 {background-image: url("../../images/enemies/magical/seahorse_larva_01_2x.png")}
	.type-magical.enemy-icon-jellyfish-larva-02 {background-image: url("../../images/enemies/magical/jellyfish_larva_02_2x.png")}
	.type-magical.enemy-icon-jellyfish-larva-01 {background-image: url("../../images/enemies/magical/jellyfish_larva_01_2x.png")}
	.type-magical.enemy-icon-seal-larva-01 {background-image: url("../../images/enemies/magical/seal_larva_01_2x.png")}
	.type-magical.enemy-icon-hermitcrab-larva-02 {background-image: url("../../images/enemies/magical/hermitcrab_larva_02_2x.png")}
	.type-magical.enemy-icon-hermitcrab-larva-01 {background-image: url("../../images/enemies/magical/hermitcrab_larva_01_2x.png")}
	.type-magical.enemy-icon-mantaray-larva-02 {background-image: url("../../images/enemies/magical/mantaray_larva_02_2x.png")}
	.type-magical.enemy-icon-mantaray-larva-01 {background-image: url("../../images/enemies/magical/mantaray_larva_01_2x.png")}
	.type-magical.enemy-icon-hermitcrab-primo {background-image: url("../../images/enemies/magical/hermitcrab_primo_2x.png")}
	.type-magical.enemy-icon-natsaurus-hookwalker-small {background-image: url("../../images/enemies/magical/natsaurus_hookwalker_small_2x.png")}
	.type-magical.enemy-icon-natsaurus-mosasaurus-small {background-image: url("../../images/enemies/magical/natsaurus_mosasaurus_small_2x.png")}
	.type-magical.enemy-icon-natsaurus-drillhead-small {background-image: url("../../images/enemies/magical/natsaurus_drillhead_small_2x.png")}
	.type-magical.enemy-icon-seahorse-primo-electric {background-image: url("../../images/enemies/magical/seahorse_primo_electric_2x.png")}
	.type-magical.enemy-icon-striped {background-image: url("../../images/enemies/magical/striped_2x.png")}
	.type-magical.enemy-icon-hermit {background-image: url("../../images/enemies/magical/hermit_2x.png")}
	.type-magical.enemy-icon-golem-centaur {background-image: url("../../images/enemies/magical/golem_centaur_2x.png")}
	.type-magical.enemy-icon-golem-legion {background-image: url("../../images/enemies/magical/golem_legion_2x.png")}
	.type-magical.enemy-icon-natsaurus-hookwalker-primo {background-image: url("../../images/enemies/magical/natsaurus_hookwalker_primo_2x.png")}
	.type-magical.enemy-icon-natsaurus-hookwalker-normal {background-image: url("../../images/enemies/magical/natsaurus_hookwalker_normal_2x.png")}
	.type-magical.enemy-icon-natsaurus-mosasaurus-normal {background-image: url("../../images/enemies/magical/natsaurus_mosasaurus_normal_2x.png")}
	.type-magical.enemy-icon-natsaurus-drillhead-normal {background-image: url("../../images/enemies/magical/natsaurus_drillhead_normal_2x.png")}
	.type-magical.enemy-icon-lava-solid {background-image: url("../../images/enemies/magical/lava_solid_2x.png")}
	.type-magical.enemy-icon-lava-liquid {background-image: url("../../images/enemies/magical/lava_liquid_2x.png")}
	.type-magical.enemy-icon-wayob-hookwalker {background-image: url("../../images/enemies/magical/wayob_hookwalker_2x.png")}
	.type-magical.enemy-icon-wayob-mosasaurus {background-image: url("../../images/enemies/magical/wayob_mosasaurus_2x.png")}
	.type-magical.enemy-icon-wayob-drillhead {background-image: url("../../images/enemies/magical/wayob_drillhead_2x.png")}
	.type-magical.enemy-icon-natsaurus-flamingo-primo {background-image: url("../../images/enemies/magical/natsaurus_flamingo_primo_2x.png")}
	.type-magical.enemy-icon-wayob-flamingo {background-image: url("../../images/enemies/magical/wayob_flamingo_2x.png")}
	.type-magical.enemy-icon-wayob-shamansaurus {background-image: url("../../images/enemies/magical/wayob_shamansaurus_2x.png")}
	.type-magical.enemy-icon-natsaurus-shamansaurus-normal {background-image: url("../../images/enemies/magical/natsaurus_shamansaurus_normal_2x.png")}
	.type-magical.enemy-icon-natsaurus-shamansaurus-small {background-image: url("../../images/enemies/magical/natsaurus_shamansaurus_small_2x.png")}
	.type-magical.enemy-icon-natsaurus-flamingo-normal {background-image: url("../../images/enemies/magical/natsaurus_flamingo_normal_2x.png")}
	.type-magical.enemy-icon-natsaurus-flamingo-small {background-image: url("../../images/enemies/magical/natsaurus_flamingo_small_2x.png")}
	.type-magical.enemy-icon-natsaurus-bisonsaurus-small {background-image: url("../../images/enemies/magical/natsaurus_bisonsaurus_small_2x.png")}
	.type-magical.enemy-icon-natsaurus-bisonsaurus-normal {background-image: url("../../images/enemies/magical/natsaurus_bisonsaurus_normal_2x.png")}
	.type-magical.enemy-icon-wayob-bisonsaurus {background-image: url("../../images/enemies/magical/wayob_bisonsaurus_2x.png")}
	.type-magical.enemy-icon-lavatitan {background-image: url("../../images/enemies/magical/lavatitan_2x.png")}
	.type-magical.enemy-icon-volcanoweasel {background-image: url("../../images/enemies/magical/volcanoweasel_2x.png")}
	.type-magical.sprite-enemy.sprite-24 {background-image: url("../../images/sprites/enemy_magical_85c681c72b7fe722c313d3a892d308e8.png")}
	.type-magical.sprite-enemy.sprite-60 {background-image: url("../../images/sprites/enemy_magical_254103b40cfeb04084f20811ce65420d.png")}
}
