.type-hilichurls.enemy-icon-brute-electric-01 {background-image: url("../../images/enemies/hilichurls/brute_electric_01.png")}
.type-hilichurls.enemy-icon-brute-ice-01 {background-image: url("../../images/enemies/hilichurls/brute_ice_01.png")}
.type-hilichurls.enemy-icon-brute-none-01 {background-image: url("../../images/enemies/hilichurls/brute_none_01.png")}
.type-hilichurls.enemy-icon-brute-rock-none {background-image: url("../../images/enemies/hilichurls/brute_rock_none.png")}
.type-hilichurls.enemy-icon-hili-electric-range {background-image: url("../../images/enemies/hilichurls/hili_electric_range.png")}
.type-hilichurls.enemy-icon-hili-fire-range {background-image: url("../../images/enemies/hilichurls/hili_fire_range.png")}
.type-hilichurls.enemy-icon-hili-ice-range {background-image: url("../../images/enemies/hilichurls/hili_ice_range.png")}
.type-hilichurls.enemy-icon-hili-none-01 {background-image: url("../../images/enemies/hilichurls/hili_none_01.png")}
.type-hilichurls.enemy-icon-hili-wei {background-image: url("../../images/enemies/hilichurls/hili_wei.png")}
.type-hilichurls.enemy-icon-shaman-electric-01 {background-image: url("../../images/enemies/hilichurls/shaman_electric_01.png")}
.type-hilichurls.enemy-icon-shaman-grass-01 {background-image: url("../../images/enemies/hilichurls/shaman_grass_01.png")}
.type-hilichurls.enemy-icon-shaman-ice-01 {background-image: url("../../images/enemies/hilichurls/shaman_ice_01.png")}
.type-hilichurls.enemy-icon-shaman-rock-01 {background-image: url("../../images/enemies/hilichurls/shaman_rock_01.png")}
.type-hilichurls.enemy-icon-shaman-water-01 {background-image: url("../../images/enemies/hilichurls/shaman_water_01.png")}
.type-hilichurls.enemy-icon-shaman-wind-01 {background-image: url("../../images/enemies/hilichurls/shaman_wind_01.png")}
.type-hilichurls.enemy-icon-hilistray-wind {background-image: url("../../images/enemies/hilichurls/hilistray_wind.png")}
.type-hilichurls.enemy-icon-hilistray-water {background-image: url("../../images/enemies/hilichurls/hilistray_water.png")}
.type-hilichurls.sprite-enemy.sprite-24 {
	background-image: url("../../images/sprites/enemy_hilichurls_fb57a57f6b900ec4fc5b0983b4a6f961.png");
	background-size: 120px 120px;
}
.type-hilichurls.sprite-enemy.sprite-60 {
	background-image: url("../../images/sprites/enemy_hilichurls_7f29730dca997bb9e46b03379d4d1b6c.png");
	background-size: 300px 300px;
}
.sprite.type-hilichurls.enemy-icon-brute-electric-01 {background-position: 0 0
}
.sprite.type-hilichurls.enemy-icon-brute-ice-01 {background-position: 25% 0
}
.sprite.type-hilichurls.enemy-icon-brute-none-01 {background-position: 50% 0
}
.sprite.type-hilichurls.enemy-icon-brute-rock-none {background-position: 75% 0
}
.sprite.type-hilichurls.enemy-icon-hili-electric-range {background-position: 100% 0
}
.sprite.type-hilichurls.enemy-icon-hili-fire-range {background-position: 0 25%}
.sprite.type-hilichurls.enemy-icon-hili-ice-range {background-position: 25% 25%}
.sprite.type-hilichurls.enemy-icon-hili-none-01 {background-position: 50% 25%}
.sprite.type-hilichurls.enemy-icon-hili-wei {background-position: 75% 25%}
.sprite.type-hilichurls.enemy-icon-shaman-electric-01 {background-position: 100% 25%}
.sprite.type-hilichurls.enemy-icon-shaman-grass-01 {background-position: 0 50%}
.sprite.type-hilichurls.enemy-icon-shaman-ice-01 {background-position: 25% 50%}
.sprite.type-hilichurls.enemy-icon-shaman-rock-01 {background-position: 50% 50%}
.sprite.type-hilichurls.enemy-icon-shaman-water-01 {background-position: 75% 50%}
.sprite.type-hilichurls.enemy-icon-shaman-wind-01 {background-position: 100% 50%}
.sprite.type-hilichurls.enemy-icon-hilistray-wind {background-position: 0 75%}
.sprite.type-hilichurls.enemy-icon-hilistray-water {background-position: 25% 75%}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.type-hilichurls.enemy-icon-brute-electric-01 {background-image: url("../../images/enemies/hilichurls/brute_electric_01_2x.png")}
	.type-hilichurls.enemy-icon-brute-ice-01 {background-image: url("../../images/enemies/hilichurls/brute_ice_01_2x.png")}
	.type-hilichurls.enemy-icon-brute-none-01 {background-image: url("../../images/enemies/hilichurls/brute_none_01_2x.png")}
	.type-hilichurls.enemy-icon-brute-rock-none {background-image: url("../../images/enemies/hilichurls/brute_rock_none_2x.png")}
	.type-hilichurls.enemy-icon-hili-electric-range {background-image: url("../../images/enemies/hilichurls/hili_electric_range_2x.png")}
	.type-hilichurls.enemy-icon-hili-fire-range {background-image: url("../../images/enemies/hilichurls/hili_fire_range_2x.png")}
	.type-hilichurls.enemy-icon-hili-ice-range {background-image: url("../../images/enemies/hilichurls/hili_ice_range_2x.png")}
	.type-hilichurls.enemy-icon-hili-none-01 {background-image: url("../../images/enemies/hilichurls/hili_none_01_2x.png")}
	.type-hilichurls.enemy-icon-hili-wei {background-image: url("../../images/enemies/hilichurls/hili_wei_2x.png")}
	.type-hilichurls.enemy-icon-shaman-electric-01 {background-image: url("../../images/enemies/hilichurls/shaman_electric_01_2x.png")}
	.type-hilichurls.enemy-icon-shaman-grass-01 {background-image: url("../../images/enemies/hilichurls/shaman_grass_01_2x.png")}
	.type-hilichurls.enemy-icon-shaman-ice-01 {background-image: url("../../images/enemies/hilichurls/shaman_ice_01_2x.png")}
	.type-hilichurls.enemy-icon-shaman-rock-01 {background-image: url("../../images/enemies/hilichurls/shaman_rock_01_2x.png")}
	.type-hilichurls.enemy-icon-shaman-water-01 {background-image: url("../../images/enemies/hilichurls/shaman_water_01_2x.png")}
	.type-hilichurls.enemy-icon-shaman-wind-01 {background-image: url("../../images/enemies/hilichurls/shaman_wind_01_2x.png")}
	.type-hilichurls.enemy-icon-hilistray-wind {background-image: url("../../images/enemies/hilichurls/hilistray_wind_2x.png")}
	.type-hilichurls.enemy-icon-hilistray-water {background-image: url("../../images/enemies/hilichurls/hilistray_water_2x.png")}
	.type-hilichurls.sprite-enemy.sprite-24 {background-image: url("../../images/sprites/enemy_hilichurls_2e36618260b7d61742040176896aa8f3.png")}
	.type-hilichurls.sprite-enemy.sprite-60 {background-image: url("../../images/sprites/enemy_hilichurls_37179d377410b436fcb6afb9e6d6b19d.png")}
}
