.gi-rotation-tab .gi-tab-item-inner {
    background-image: url("../../../images/icons/tab_rotation_light.png");
}

.gi-rotation-tab.active .gi-tab-item-inner {
    background-color: #ECE5D8;
    background-image: url("../../../images/icons/tab_rotation_dark.png");
}

.gi-stat-element-icon, .dropdown-icon.gi-stat-element-icon {
    width: 20px;
    height: 20px;
    background-size: 120px 40px;
    background-image: url("../../../images/icons/element_40_v2.png");
}

.stat-anemo {
    background-position: -60px 0;
}
.stat-cryo {
    background-position: -40px -20px;
}
.stat-dendro {
    background-position: -60px -20px;
}
.stat-electro {
    background-position: -40px 0;
}
.stat-geo {
    background-position: 0 -20px;
}
.stat-hydro {
    background-position: -20px -20px;
}
.stat-pyro {
    background-position: -20px 0;
}
.stat-phys {
    background-position: 0 0;
}
.stat-heal {
    background-position: -80px 0;
}
.stat-shield {
    background-position: -80px -20px;
}
